.settings
.project
.classpath
target/
data/
lombok.jar
node_modules/
package-lock.json
package.json
webpack.config.js
webpack.generated.js
pnpm-lock.yaml
pnpmfile.js
tsconfig.json
types.d.ts
**/frontend/generated
**/pnpm-lock.yaml
**/.factorypath
.prettierrc.js
.vscode/extensions.json
.vscode/settings.json
.mvn/wrapper/MavenWrapperDownloader.java
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.npmrc
mvnw
mvnw.cmd
/.idea
/.vscode
.vaadin
.eclipse
src/main/frontend/index.html
src/main/bundles/*
.DS_Store
